.received-event{
  font-size: 15px;
  width:100%;
  border-top: 1px solid #DEDEDE;
  background-color:rgba(200,200,200,0.25);
  padding:20px 0;

  .info-item{
    display: flex;
    align-items: center;
    
    .info-avatar{
      min-height: 35px;
      min-width: 35px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin:0 15px;
    }

    .info-title{
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;

      .title-text{
        display: flex;
        flex-direction: row;
        flex: 1;
      
        .action{
          margin: 0 5px;
        }
      }

      .title-time{
        color:rgb(169, 169, 169);
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }

  .repo-item{
    margin-left: 60px;
    margin-right: 15px;
  }
}

.highlight{
  color:rgb(5, 121, 253);
  font-weight: bold;
}